body { 
    background-color: #EEF7FF;
}

.container {
  max-width: 1150px; 
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.Nav-Bar{
    margin: 0 auto;
    display: flex;
}

.Nav-Left {
    display: inline-flex;
    align-items: center;
}

.Nav-Links li {
    display: inline-flex;
    padding-left: 13px;
    color: #404040;
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .aboutbtn {
    border: none;
    outline: none;
    color: #404040;
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 14px 16px;
    background-color: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #270D83;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header {
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-items: center;
}

.Hero-Image {
    display: flex;
    width: 501px;
    height: 428px;
    padding: 10px 7px;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
}   

h1, h2 {
    font-family: 'Space Grotesk', sans-serif;
}

p, a{
    font-family: 'Space Mono', monospace;
}


header h1 {
    margin: 0 auto;
    color: #2A2A2A;
    font-family: "Space Grotesk";
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.1px;
}

header h2 {
    margin: 0 auto;
    color: #2A2A2A;
    font-family: "Space Grotesk";
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.1px;
    padding: 0px;
}

.Join-us-Button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #270D83;
    background-color: inherit;
    color: #270D83;
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 7px 14px 7px 17px;
    margin-right: 12px;
}

.More-info-Button {
    display: inline-flex;
    align-items: center;
    padding: 7px 14px 7px 17px;
    align-items: center;
    gap: 10px;
    color: #FFF;
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 5px;
    background: #270D83;
    border: 1px solid #270D83;

}

.Hero-Text {
    color: #717171;
    font-family: "Space Grotesk";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.56px;
    width: 488px;
    margin-left: 5px;
}