body { 
    background-color: #EEF7FF;
}

.container {
  max-width: 1150px; 
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.Hero-Image {
    display: flex;
    width: 501px;
    height: 428px;
    padding: 10px 7px;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
}   

h1, h2 {
    font-family: 'Space Grotesk', sans-serif;
}

p, a{
    font-family: 'Space Mono', monospace;
}

header {
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-items: center;
}

header h1 {
    margin: 0 auto;
    color: #2A2A2A;
    font-family: "Space Grotesk";
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.1px;
}

header h2 {
    margin: 0 auto;
    color: #2A2A2A;
    font-family: "Space Grotesk";
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.1px;
    padding: 0px;
}

.Nav-Bar {
    max-width: 1200px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Nav-Left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.Nav-Left a {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}