body { 
    background-color: #EEF7FF;
}

.container {
  /* Set the maximum width you want your content to span */
  max-width: 1100px; 
  
  /* This centers the container horizontally */
  margin-left: auto;
  margin-right: auto;
  
  /* Add a little padding so text doesn't touch the screen edge on mobile phones */
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
    font-family: 'Space Grotesk', sans-serif;
}

p {
    font-family: 'Space Mono', monospace;
}

header {
    margin: 0 auto;
    text-align: left;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-items: center;
}

header h1 {
    margin: 0 auto;
    color: #2A2A2A;
    font-family: "Space Grotesk";
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.1px;
}

header h2 {
    margin: 0 auto;
    color: #2A2A2A;
    font-family: "Space Grotesk";
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.1px;
    padding: 0px;
}

.Hero-Image {
    padding-left: 120px;
}

nav {
    margin: 0 auto;
    padding: 0px 120px;
    text-align: left;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-items: center;
}

ul {
    display: inline-flex;
    height: 15px;
    padding-left: 13px;
    justify-content: center;
    align-items: center;
    gap: 17px;
}